<div class="row">
  <div class="col-sm-8 col-md-7 col-lg-7">
    <h2 id="country-name" class="text-uppercase content-header-title">{{ countryName }}</h2>
  </div>
  <div class="col-sm-4 col-md-5 col-lg-5 content-header-buttons">
    <ul class="list-inline">
      <li>
        <data-link type="download-country" class="btn btn-default">Download</data-link>
      </li>
      <li>
        <data-link type="view-country" id="country-details-link" class="btn btn-default">View Details</data-link>
      </li>
    </ul>
  </div>
</div>