<div>
  <slot></slot>
  <div class="loader" v-if="!isLoaded"></div>
  <div class="content-grid-item"
    v-if="isLoaded && isAvailable"
    v-for="visualization in visualizations">
    <div style="position: relative; min-height: 250vh">
      <iframe v-bind:src="getVisualizationUrl(visualization)"
        width="100%" height="100%" border="0" frameborder="0" seamless="on"
        style="border: 0; margin: 0; padding: 0; position: absolute; left: 0; top: 0; width: 100%; height: 100%;"
      ></iframe>
    </div>
  </div>
</div>
