<div class="container-fluid">
  <footer class="main-footer">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <!-- 1st column -->
        <!-- Adessium -->
        <div class="content-block">
          <p>This project has been made possible through funding by:</p>
          <a href="http://www.adessium.org/">
            <img class="img-responsive" alt="Adessium Foundation logo"
              src="public/images/adessium-foundation.png">
          </a>
        </div>
        <!-- END Adessium -->
        <!-- OBEU -->
        <div class="content-block">
          <a href="http://openbudgets.eu/">
            <img class="img-responsive" alt="OpenBudgets.eu logo"
              src="public/images/openbudgets.png">
          </a>
          <p>
            <a href="http://openbudgets.eu/">OpenBudgets.eu</a> has received
            funding from the European Union's H2020 EU research and innovation
            programme under grant agreement No 645833.
          </p>
        </div>
        <!-- END OBEU -->
        <!-- END 1st column -->
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <!-- 2nd column -->
        <!-- OKI -->
        <div class="content-block text-center">
          <a href="https://okfn.org/">
            <img class="img-responsive" src="https://a.okfn.org/img/oki/landscape-rgb-468x122.png">
          </a>
        </div>
        <!-- END OKI -->
        <!-- OKDE -->
        <div class="content-block text-center">
          <a href="https://okfn.de/">
            <img class="img-responsive" src="public/images/okde.png">
          </a>
        </div>
        <!-- END OKDE -->
        <!-- END 2nd column -->
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <!-- 3rd column -->
        <div class="content-block text-center">
          <h4 class="content-block-title">About this project</h4>
          <ul class="list-footer">
            <li><a href="#goal" data-toggle="modal">The Goal</a></li>
            <li><a href="#team" data-toggle="modal">The Teams Behind this Project</a></li>
            <li><a href="https://okfn.org/privacy-policy/">Legal / Privacy / Licensing</a></li>
          </ul>
        </div>
        <div class="content-block text-center">
          <h4 class="content-block-title">Get in touch</h4>
          <ul class="list-footer">
            <li><a href="mailto:anna.alberts@okfn.de">Email</a></li>
            <li><a href="https://twitter.com/openspending">Twitter</a></li>
            <li><a href="https://github.com/os-data/eu-structural-funds">Github</a></li>
          </ul>
        </div>
        <!-- END 3rd column -->
      </div>
    </div>
  </footer>
</div>
