<div class="container-fluid">
  <footer class="main-footer">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 content-block">
        <p>This project has been made possible through funding by:</p>
        <img class="img-responsive" alt="Adessium Foundation logo"
          src="public/images/adessium-foundation-white-375x93.png">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 content-block">
        <a href="http://openbudgets.eu/">
          <img class="img-responsive" alt="OpenBudgets.eu logo"
            src="http://openbudgets.eu/assets/materials/openbudgets_logo.png">
        </a>
        <p>
          <a href="http://openbudgets.eu/">OpenBudgets.eu</a> has received
          funding from the European Union's H2020 EU research and innovation
          programme under grant agreement No 645833.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 content-block">
        <h4 class="content-block-title">About this project</h4>
        <ul class="list-footer">
          <li><a href="#goal" data-toggle="modal">The Goal</a></li>
          <li><a href="#team" data-toggle="modal">The Teams Behind this Project</a></li>
          <li><a href="https://okfn.org/privacy-policy/">Legal / Privacy / Licensing</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 content-block">
        <h4 class="content-block-title">Get in touch</h4>
        <ul class="list-footer">
          <li><a href="mailto:anna.alberts@okfn.de">Email</a></li>
          <li><a href="https://twitter.com/openspending">Twitter</a></li>
          <li><a href="https://github.com/os-data/eu-structural-funds">Github</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
