<div class="hero-map">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-5" style="z-index: 1;">
        <div class="hero-sidebar">
          <nav class="hero-nav">
            <ul class="list-hero-nav">
              <li><a href="#data" data-toggle="modal">Data</a></li>
              <li><a href="#resources" data-toggle="modal">Resources</a></li>
              <li><a href="https://github.com/os-data/eu-structural-funds/">Github</a></li>
            </ul>
          </nav>
          <h1 class="hero-title">
            <a href="."><span class="text-polo-blue text-block">subsidy</span><span class="text-polo-blue">stories</span><span class="text-picton-blue">.eu</span></a>
          </h1>
          <div class="hero-description">
            <p class="lead">Subsidystories.eu intends to <strong>increase transparency of EU-Funds</strong> by unravelling how the European Structural Investment Funds are spent. We collected and standardised all available beneficiary lists for the ERDF, ESF and CF for the 2007-2013 and 2014-2020 funding periods. These funds are partially funded by the EU and the Member States and allocated by regional authorities to local beneficiaries (<a href="https://github.com/os-data/eu-structural-funds/blob/master/documentation/subsidyreport%20-%20policy%20and%20data.pdf">policy</a>). Find out who has received funding in your country.  </p>
            <p> Explore the available data. Click on the map, choose from the dropdown list or the country list on the right-hand side.</p>
          </div>
          <div class="hero-select">
            <country-dropdown class="form-control"></country-dropdown>
          </div>
          <p>
            Disclaimer: subsidystories.eu presents the data as it is available on the regional and national portals,
            unavailability of data on the portals might distort the total numbers on the website. Please note that
            large amounts of data were scraped (from the web and PDFs), which could have led to errors. Several different
            amounts are present in the data, so please compare carefully.
          </p>
        </div>
      </div>
      <geographical-map class="col-lg-7"></geographical-map>
    </div>
  </div>
</div>
