<div class="hero-map">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-5">
        <div class="hero-sidebar">
          <nav class="hero-nav">
            <ul class="list-hero-nav">
              <li><a href="#data" data-toggle="modal">Data</a></li>
              <li><a href="#resources" data-toggle="modal">Resources</a></li>
              <li><a href="https://github.com/os-data/eu-structural-funds/">Github</a></li>
            </ul>
          </nav>
          <h1 class="hero-title">
            <a href="."><span class="text-polo-blue text-block">subsidy</span><span class="text-polo-blue">stories</span><span class="text-picton-blue">.eu</span></a>
          </h1>
          <div class="hero-description">
            <p class="lead">Subsidystories.eu intends to <strong>increase transparency of EU-Funds</strong> by unravelling how the European Structural Investment Funds are spent at the local level. We publish here all the beneficiary data available in different portals everywhere in one place: search and analyse!</p>
            <p>Explore the available data. Click on the map, choose from the dropdown list or the country list on the right-hand side.</p>
            <p> Please note that large amounts of the data presented were scraped from the web and PDFs, which could have led to errors in the data. Furthermore, there are eight different amount types throughout all of the datasets (see resources). Make sure you compare to the right amounts. </p>
          </div>
          <div class="hero-select">
            <select class="form-control" id="country-dropdown">
              <option selected="selected" value="">Select Country</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="map-container"></div>
</div>
