<div class="modal fade" id="data" tabindex="-1" role="dialog" aria-labelledby="data">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="dataLabel">Data</h4>
      </div>
      <div class="modal-body">
        <p>Find here the full dataset, it contains in total X lines, all 28 EU countries (except for Romania and other missing data-files), and the beneficiary lists for ERDF, ESF and the Cohesion Fund.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
