<div class="modal fade" id="data" tabindex="-1" role="dialog" aria-labelledby="data">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="dataLabel">Data</h4>
      </div>
      <div class="modal-body">
        <p>
          Subsidystories.eu is a joint project between Open Knowledge International and Open Knowledge Foundation Germany.    
          The technological architecture of the website is provided by OpenSpending, which is an OKI project. 
         </p>

        <p>
          Download <data-link type="download-all">here</data-link> our entire dataset in one CSV file.
          This is a rather large file (879 mb) and contains over 2.7 million rows. You can view and analyse
          the data <data-link type="view-all">here</data-link>.
        </p>
        <p>
          The concatenated dataset combines the datasets of all 28 EU member
          state countries. We have collected all available ERDF, ESF and CF
          datasets for the 2007-2013 and 2014-2020 period. However, major gaps
          still exist for the 2014-2020 period, because not all data has been released.
          The data was collected throughout October 2016 - February 2017. 
          If you find discrepancies in the data, please check the source description (.yaml) files on Github. 
          They provide additional information on the data, its the latest version etc. 
          If you have found new datasets or updated datasets that are not in our files yet, do let us know.
        </p>
        <p>
          The original files are described
          <a href="https://github.com/os-data/eu-structural-funds/raw/master/documentation/subsidyreport%20-%20dataset%20descriptions.pdf">here</a>
          For creating the joined datasets out of these files, we mapped every
          single dataset to common denominator variables that can be compared
          between the countries. More information on how we did this can be
          found under the <b>Resources</b> tab.
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
