<div class="modal fade" id="data" tabindex="-1" role="dialog" aria-labelledby="data">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="dataLabel">Data</h4>
      </div>
      <div class="modal-body">
        <p> Here (include link) you can download our entire dataset in one CSV file. This is a rather large file (879 mb) and contains over 2.7 million rows. The concatenated dataset combines the datasets of all 28 EU member state countries. We have collected all available ERDF, ESF and CF datasets for the 2007-2013 and 2014-2020 period. However, major gaps still exist for the 2014-2020 period, because not all data has been released. </p>
        <p>The original files are described <a href="https://github.com/os-data/eu-structural-funds/blob/master/documentation/subsidyreport%20-%20dataset%20descriptions.pdf">here</a>  For creating the joined datasets out of these files, we mapped every single dataset to common denominator variables that can be compared between the countries. More information on how we did this can be found under the <b>Resources</b> tab. </p>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
