<div class="modal fade" id="goal" tabindex="-1" role="dialog" aria-labelledby="data">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="goalLabel">The Goal</h4>
      </div>
      <div class="modal-body">
        <p>The European Structural Investment Funds (ESIF), together with agricultural subsidies, provides the biggest source of funding within the EU.</p>
        <p>However, how exactly these funds are being spent within the member states itself is not transparent. Since the ESIF datasets are  hosted on the respective websites of the member countries, it hasn’t been possible to have a consolidated overview of all the available sources and the distribution of the money down to the transactional level. In that sense, this project is unique for it unifies the available datasets of fund distribution on one website.</p>
        <p>This data collection aims to increase fiscal transparency in the European Union.</p>
        <p>We invite data journalists, civil society organisations and interested citizens to analyse and track money flows within the EU.</p>
        <p>If you have any questions on the methodology, please reach out <a href="mailto:anna.alberts@okfn.de">anna.alberts@okfn.de</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
