<div class="modal fade" id="resources" tabindex="-1" role="dialog" aria-labelledby="data">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="resourcesLabel">Resources</h4>
      </div>
      <div class="modal-body">
        <p>The following gives you The following informs you about the our methodology, brings you documentation on how we collected the data and policy documentation and links that you can use for understanding the data.</p>
        <h4>Methodology</h4>
        <p>In processing the datasets, we went along the following steps:</p>
        <ul>
          <li>Sourcing the raw data: searching on the respective member states’ websites for the datasets. If not available online, we contacted the bureaus directly. However, none of the available datasets had to be obtained via an official FOI request.</li>
          <li>Cleaning the data: the data we found didn’t necessarily meet the open data requirements. It came in different formats and sizes like PDFs or content on a website. The goal is to clean and structure the data so that it can be presented in an open, machine-readable format. To do that end we wrote a number of scrapers or used Tabula for PDF scraping.</li>
          <li>Standardise the data: for the different datasets to be merged, all single datasets needed to be mapped to one overall schema. We are working with a fiscal data specification called <a href="http://specs.frictionlessdata.io/fiscal-data-package/">Open Fiscal Data Package</a>. After having surveyed all the datasets, we created a mapping against this specification. The full documentation is here.</li>
          <li>The datasets are hosted on <a href="http://next.openspending.org/">OpenSpending</a>, a fiscal transparency platform developed by Open Knowledge International. It provides an extensive and ever-growing fiscal database with visualization and analyzation tools.</li>
          <li>Documentation can be found <a href="https://docs.google.com/document/d/1442_aBoPN7Ls-EejGhk7PuJrC7hxxPcoTb6q9yUTMDc/edit?ts=58663c08">here</a> and all the code, raw data, models and schema’s can be found on <a href="https://github.com/os-data/eu-structural-funds">Github</a></li>
        </ul>
        <h4>Documentation</h4>
        <p>Please find documentation <a href="https://docs.google.com/document/d/1442_aBoPN7Ls-EejGhk7PuJrC7hxxPcoTb6q9yUTMDc/edit?ts=58663c08">here</a>.</p>
        <h4>Policy Background</h4>
        <p>Please read more on <a href="https://docs.google.com/document/d/1JgQoxODpom4gjhKkzDOQjXdi_7CIBK18AZjagzpJDdQ/edit?usp=sharing">the policy background</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
