<div class="modal fade" id="resources" tabindex="-1" role="dialog" aria-labelledby="data">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="resourcesLabel">Resources</h4>
      </div>
      <div class="modal-body">
        <p>The following informs you about our methodology, how we collected the data and provides helpful documentation for understanding the data.</p>
        <h4>Working with the data</h4>
        <p>Please find a guideline on how to work with the data and open spending <a href="https://github.com/os-data/eu-structural-funds/blob/master/documentation/subsidyreport%20-%20manual%20OS.pdf">here</a>.</p>
        <h4>Policy and Data Background</h4>
        <p>Here you can read more on <a href="https://github.com/os-data/eu-structural-funds/blob/master/documentation/subsidyreport%20-%20policy%20and%20data.pdf">the policy and data background</a>.</p>  
        <h4>Methodology</h4>
        <p>Detailed Documentation can be found <a href="https://github.com/os-data/eu-structural-funds/blob/master/documentation/subsidyreport%20-%20methodology.pdf">here</a> </p>
        <ul>
          <li>Finding the raw data: searching on the respective member states’ websites for the datasets. If not available online, we contacted the bureaus directly. </li>
          <li>Cleaning the data: the data we found often was not in an open data format - it came in different formats such as PDFs, webapps or Excel sheets and had to be scraped to a machine-readable format. Scraping was done either with scripts or using Tabula, while OpenRefine was used for cleaning. </li>
          <li>Standardising the data: for the different datasets to be merged, all single datasets needed to be mapped to one overall schema. This was based on the <a href="http://specs.frictionlessdata.io/fiscal-data-package/">Open Fiscal Data Package</a>. </li>
          <li>The datasets are hosted on <a href="http://next.openspending.org/">OpenSpending</a>, a fiscal transparency platform developed by Open Knowledge International. It provides an extensive and ever-growing fiscal database with visualization and analyzation tools.</li>
          <li>Further information including all the code, raw data, models and schemas can be found on <a href="https://github.com/os-data/eu-structural-funds">Github</a></li>
        </ul>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
