<div class="modal fade" id="team" tabindex="-1" role="dialog" aria-labelledby="data">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="teamLabel">The Teams Behind this Project</h4>
      </div>
      <div class="modal-body">
        <p>This is a joint collaboration between the teams of <a href="https://okfn.de/en/">Open Knowledge Germany</a> and <a href="https://okfn.org">Open Knowledge International</a> (OKI). The technological architecture is provided by <a href="http://next.openspending.org">OpenSpending</a>, which is an OKI project.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
