{% extends "layout.html" %}

{% block content %}
<div class="clearfix">
  <funding-periods class="pull-right"></funding-periods>
</div>
<div class="row">
  <div class="col-sm-12 col-md-8">
    <div class="country-data">
      <div class="content-header">
        <country-details></country-details>
      </div>
      <div class="content-block">
        <visualizations>
          <total-subsidies></total-subsidies>
          <country-description></country-description>
        </visualizations>
      </div>
    </div>
  </div>
  <div class="col-md-4 visible-md visible-lg"><country-list></country-list></div>
</div>
{% endblock %}
