{% extends "layout.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-12 col-md-8">
    <div class="country-data">
      <div class="content-intro">
        <h2 class="content-block-title">ESIF spending amounts to €637 Billion* from 2014-2020. This site tells you who received the money.</h2>
        <h3>Select a country and a funding period</h3>
        <div id="visualization-by-countries"></div>
      </div>
    </div>
  </div>
  <div id="country-list" class="col-md-4 visible-md visible-lg">Loading...</div>
</div>
{% endblock %}}
