{% extends "layout.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-12 col-md-8">
    <div class="country-data">
      <div class="content-intro">
        <h2 class="content-block-title">ESIF spending amounts to €637 Billion* from 2014-2020. This site tells you who received the money.</h2>
        <h3>Select a country and a funding period</h3>
        <iframe style="width: 100%; border: none; min-height: 250vh;" src="http://next.openspending.org/viewer/embed/treemap/6018ab87076187018fc29c94a68a3cd2:eu-esif-funds-beneficiaries-2007-2020?lang=en&amp;measure=total_amount.sum&amp;groups%5B%5D=recipient_2.beneficiary_name&amp;order=total_amount.sum%7Cdesc"></iframe>
      </div>
    </div>
  </div>
  <div id="country-list" class="col-md-4 visible-md visible-lg">Loading...</div>
</div>
{% endblock %}}
