<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}OpenSpending{% endblock %}</title>
  <link rel="stylesheet" href="public/styles/app.css">
  <link rel="stylesheet" href="public/styles/babbage.css">
</head>
<body>

{% include "partials/header.html" %}

<div class="container main-content">
  {% block content %}{% endblock %}

  {% include "partials/modals/data.html" %}
  {% include "partials/modals/resources.html" %}
  {% include "partials/modals/goal.html" %}
  {% include "partials/modals/teams.html" %}

  {% include "partials/footer.html" %}
</div>

<!-- Google Web Font Loader -->
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
<script src="public/scripts/app.js"></script>
<script src="public/scripts/babbage-core.min.js"></script>

</body>
</html>